[2012-08-22 20:45] hansstimer opened #15 "Is there a matching set of shell completions?"
Do the standard git-flow-completions work, or do you have a fork of those also?

[2012-08-22 20:50] hansstimer opened #16 "Brew formula"
It would be nice if there was a Hombebrew formula for hub flow.

[2012-09-12 01:37] sfkaos opened #17 "Unexpected end of command stream during 'feature start'"
I'm getting the following error when I do a feature start:

fatal: Couldn't find remote ref develop
Unexpected end of command stream

Before then all i'm doing is cloning a repo and initializing hubflow via init. Am I doing something wrong?

[2012-09-25 08:35] getdave opened #18 "Can't uninstall original Gitflow"
As a long time Gitflow user I"m not looking to move over to your actively developed Hubflow model.

However I'm struggling to uninstall the original Gitflow in order to install your Hubflow version.

The error I get is:

[code]

Worth noting that if I simply try and install Hubflow I get the following:

[code]

So I think I do need to remove the old gitflow before I can install the Hubflow version

[2012-09-25 12:49] #18 closed, assigned to nobody

[2012-11-19 20:25] stevemckenzie opened #21 "hf update does not pull other features down from github."
This is a problem that has been reported by a few people in comments at http://datasift.github.com/gitflow/index.html

The problem is that someone reviewing a feature for you cannot use hf feature checkout to retrieve a feature. Currently the only way is to fall back to the standard git methods and deal with the merging yourself.

Stuart mentioned he'd fix this in the next release here: http://dat

[2013-01-02 15:07] mheap opened #24 "Cancel branch - make sure force flag is specified"
Need to make sure that every cancel method checks for the -f flag. This happens in feature cancel, not sure about hotfix or release.

[2013-01-10 16:45] entrity opened #26 "Can't run install.sh on Cygwin"
Cygwin has no 'sudo' command, yet when I execute ./install.sh, I get:

**\* error: must run as root (use sudo!)

...even when I run Cygwin as administrator.

I see that on the original Gitflow project, they appear to have a separate installation process for Windows: https://github.com/nvie/gitflow/wiki/Windows

Is there such a thing for your fork?

[2013-02-01 12:19] benjamg opened #27 "feature finish after github review/merge"
Currently to use hf feature finish after the branch has been merged via github's review & merge pull request system it requires you to checkout develop, pull and then recheckout your feature branch.

It would be much nicer if it could check that the only change if that merge and so update develop itself, or at least give the option to run a develop branch pull if that is the only problem during fi

[2013-02-28 03:06] #24 closed, assigned to mheap

[2013-02-28 03:07] #17 closed, assigned to nobody

[2013-02-28 03:09] #21 closed, assigned to nobody

[2013-03-21 18:25] mloskot opened #31 "INSTALL_PREFIX is not an install prefix"
Name of the `INSTALL_PREFIX`  option of the `./install.sh` script, especially it's default value `/usr/local/bin` is confusing. This is  not an installation prefix well-known across Unix systems, but path to installation directory.

If it was a prefix, it would be used this way `$INSTALL_PREFIX/bin`.

I'd suggest to rename it or change it to behave as real installation prefix.

[2013-03-21 20:28] mloskot opened #32 "removed ‘/usr/bin/gitflow-shFlags’ gitflow already exists"
If I have `gitflow-shFlags` installed in my system, hubflow installer silently overwrites it:

[code]

I don't think it's safe, is it?
What if `gitflow-shFlags` required by gitflow is different that the one installed by hubflow?

At least, there should be warning and user prompt for decision.

Here are versions of gitflow and hubflow I have installed:

[code]

[2013-03-22 11:53] stuartherbert opened #33 "git hf init does not push 'develop' branch back to GitHub"
Needs fixing for 1.5.0 release

[2013-03-22 12:44] #31 closed, assigned to nobody

[2013-03-22 12:44] #32 closed, assigned to nobody

[2013-03-22 12:50] #27 closed, assigned to nobody

[2013-03-22 12:51] #33 closed, assigned to nobody

[2013-03-22 12:59] #16 closed, assigned to nobody

[2013-03-22 18:50] jackrabb1t opened #34 "unable to init the hub flow for a new project ( cloned from github )"
$ git hf init -af

Which branch should be used for tracking production releases?
- master
  Branch name for production releases: [master]
  Branch name for "next release" development: [develop]

How to name your supporting branch prefixes?
Feature branches? [feature/]
Release branches? [release/]
Hotfix branches? [hotfix/]
Support branches? [support/]
Version tag prefix? [] v
fatal: No path specif

[2013-03-22 19:30] ranand-github opened #35 "Wrong filename for .shFlags file"
Installed the latest code from develop branch because I wanted to use the pull request #22. However, there is a typo in git-hf:87 because that line is still looking for gitflow.shFlags, which has presumably been renamed to hubflow.shFlags.

[2013-03-22 21:39] mbrace opened #39 "OS X support"
We were previously using gitflow, but with some modifications and plan on making more.  With our workflow including github, we'll be switching over to using hubflow shortly.  Our shop uses OS X for development machines pretty exclusively, so I'm going through and fixes issues I run across, so there will be a myriad of pull requests coming in focusing on cross-platform support.

[2013-04-10 20:09] jhgorse opened #42 "GitHub auth failure not handled"
Affected commands (so far that I have seen):
git hf init
git hf feature start

To reproduce:
1. Fork/Clone github repo with write access. cd into repo dir.
2. Failure in any of the following commands, such as failed authentication,
  (i) git hf init
  (ii) git hf feature start feature_name
3. Retry command, such as with correct authentication.

Logged output:
tcsh# git hf feature start feature_nam

[2013-05-16 14:03] cmchiu opened #43 "Issues installing hubflow on Mac OS X"
Hey I am having some issue with installing.  I've tried uninstalling and then reinstalling and no luck.  I even tried just "Clone into Mac" and it would have a clone error
So I tried using the instructions on DataSift and received this

$ git clone https://github.com/datasift/gitflow
Cloning into 'gitflow'...
remote: Counting objects: 2082, done.
remote: Compressing objects: 100% (1219/1219), done

[2013-06-02 08:41] #43 closed, assigned to nobody

[2013-06-02 08:52] #35 closed, assigned to nobody

[2013-06-02 08:53] #34 closed, assigned to nobody

[2013-06-02 08:56] stuartherbert opened #45 "git hf update leaves you on the 'develop' branch always"
Here's something that got broken in v1.5.1 ... the 'git hf update' command is supposed to end up on the same branch that it started from.  Unfortunately, it currently always ends up on 'develop', and you have to checkout your original feature branch by hand afterwards.

[2013-06-02 09:05] stuartherbert opened #46 "git 2.0 compatibility"
Git's default push behaviour is changing in Git v2.0, and the latest versions of Git have started issuing warnings about this change.  (Specifically, the push behaviour is changing from 'current' to 'simple').

Unfortunately, the 'simple' model doesn't like the way that Hubflow sets up tracking branches, and a naked 'git push' from the command-line refuses to do the right thing.  'git hf update' d

[2013-06-02 09:12] stuartherbert opened #47 "gh-pages support"
Although gh-pages branches aren't really part of the original Gitflow model, they are a special type of branch that we end up dealing with when working with GitHub.

Hubflow needs to support the gh-pages branch:
- Support creating it on request
- Treat it as another 'master' branch
- Support a 'develop-doc' branch for pending doc changes
- Support creating 'feature-doc' branches
- Support creating

[2013-06-28 20:42] 29thfloor opened #49 "HubFlow hangs on 'feature start'"
This has happened to me several times today and I can't figure out what's going on. We've been using HubFlow successfully on this project for a month or so, but now when I try to start a new feature it hangs on the 2nd step.

`git hf feature start my-branch-name`

results in:

[code]

and then nothing else happens.

If I kill the process I have the local branch but it's not created in GitHub.

[2013-07-08 03:47] oblitum opened #50 "hubflow doesn't prompt on `git hf init` like gitflow does."
I've just installed hubflow and, contrary to `git flow`  which correctly stop to prompt for options on `git flow init`, it goes straight assuming the defaults never prompting for input.

My main issue is not being able to set release tag prefix.

I'm running Ubuntu 13.04 and `git flow` does not present this problem.

[2013-07-17 16:54] #49 closed, assigned to nobody

[2013-07-17 16:58] 29thfloor opened #51 "Branches deleted at origin are not deleted locally during 'git hf update'"
When I do `git hf update`, in the summary of actions it says:

Any branches that have been deleted at origin have also been deleted from your local repository

But I'm still seeing local copies of branches that were definitely deleted on GitHub.

[2013-07-24 21:44] #50 closed, assigned to nobody

[2013-09-04 05:51] huafu opened #56 "COMMIT_MSG file remains in the repository folder after feature submit"
When submitting a feature with `git feature submit` when in a feature branch, there is a `COMMIT_MSG` which is created I guess for the message of the pull request, but after the command the file remains, and even after `git hf feature finish`.

[2013-09-10 15:24] johnschult opened #58 "Auth failure when using Github 2-factor Authentication"
If you do a `git hf init` and the Github account you are using is utilizing [2-Factor Authentication](https://help.github.com/articles/about-two-factor-authentication) it fails with:

[code]

[2013-10-22 09:41] stuartherbert opened #61 "$ORIGIN is not determined on a per-branch basis"
$ORIGIN is a global variable, that is used extensively throughout the code.  It is set exactly once, in hubflow_load_settings.

When working exclusively with GitHub, this is never a problem, as all branches use the same remote.  But if you want to work in a peer-to-peer basis with your colleagues, this isn't safe, as each branch can legally have different remotes.

The fix is to replace $ORIGIN wi

[2013-10-23 14:12] #56 closed, assigned to nobody

[2013-10-28 15:16] icalvete opened #65 "git hf push critical"
I keep this error

[code]

$1 value is 'origin'
$2 value is empty

_hubflow_remote_merge_helpe_r is called from **git hf push**

[code]

Where $ORIGIN value is 'origin' and  $BRANCH is empty.

Before only es _called hubflow_load_settings_

[code]

BRANCH isn't

In other machine with other version works

[code]

[2013-10-29 22:17] mx-awilhelm opened #66 "default branch is develop and broken"
If install gitflow on clean system with:
git clone https://github.com/datasift/gitflow
cd gitflow
sudo ./install.sh

gitflow is broken and from develop. git hf update dont work.

[2013-10-31 11:53] lazzurs opened #67 "Releases cannot be installed"
I downloaded a release recently due to a bug in the current version from the git repo.  These cannot be installed.

$ sudo sh install.sh
Installing hubflow to /usr/local/bin
Updating submodules
fatal: Not a git repository (or any of the parent directories): .git
fatal: Not a git repository (or any of the parent directories): .git
install: ./git-hf -> /usr/local/bin/git-hf
install: ./git-hf-init ->

[2013-11-07 11:58] stuartherbert opened #68 "git hf tag - create per-branch 'build' tags"
A request from David Brown
- git hf tag creates a tag called '<branch>/<build-no>', which can be used for building dev / overnight builds from
- <build-no> is an incrementing integer that is unique to each branch
- when feature, hotfix or release branches are finished or deleted, the branch's build tags are also deleted
- build tags created on develop and support branches will persist
- build tags

[2013-12-19 11:34] #65 closed, assigned to nobody

[2014-01-22 09:35] #51 closed, assigned to nobody

[2014-01-22 09:36] #45 closed, assigned to nobody

[2014-04-09 10:43] mheap opened #75 "Misleading error when ssh config permissions are incorrect"
When trying to finish a feature branch, I received the following error:

[code]

I checked my remote and it was fine, so I tried to run a command without hubflow:

[code]

I fixed my permissions:

[code]

Then it all started working again.

[code]

It'd be nice if Hubflow pointed us in the correct direction, rather than pointing us at our connection when it's working fine

[2014-09-05 18:55] chovy opened #81 "brew package"
Brew on a mac takes over `/usr/local` -- can we get a brew package for gitflow?

[2014-10-01 16:26] ahknight opened #82 "Incomplete detection of github URLs"
The detection for github URLs is missing the following cases:

[code]

The latter is needed for integration with Xcode CI as Xcode ships off your current git URL to the server, which won't have your SSH keys, etc.  So it would be nice if the detection understood URLs a little better (a more expansive grep regex would do it).

[2014-10-16 09:07] hussfelt opened #83 "Finishing a feature always ends up in having to use force-mode"
Always when we try to finish a feature we end up in these two lines:
https://github.com/proteste/hubflow/blob/master/git-hf-feature#L366-L367

The only option is to force, which closes the PR, merges the stuff locally but does not seem to set the "merge state" of the PR to done...

Steps to reproduce:
1. Create feature: "git hf feature start foo-feature"
2. Commit something "git commit -am 'bar'"

[2015-01-30 10:50] jakecleary commented on #81
:+1: for this. Would be great to have.

[2015-01-30 10:54] jakecleary commented on #81
@chovy, seems there is one!

'brew install hubflow'

[2015-03-12 15:00] aehlke commented on #83
Any resolution to this? Does using `git hf feature submit` in your workflow fix this issue?

[2015-03-12 15:01] aehlke commented on #83
Hm I think the missing step (which the blog post I read on the workflow is not clear about: http://dev.datasift.com/blog/hubflow-github-and-gitflow-model-together ) is that the PR must be merged (via clicking merge on github) before `git hf feature finish`

[2015-03-12 15:03] aehlke commented on #39
@mbrace how has this gone for you? Are you still using this on OS X, and have you been able to get any fixes merged in as needed?

[2015-03-12 15:03] aehlke commented on #46
Is this still unresolved?

[2015-03-12 15:06] mheap commented on #83
That's correct. A PR should be merged before git hf feature finish

[2015-03-12 15:22] aehlke commented on #83
Thanks for clarifying. Do you think the `git hf feature finish` step is one that could/should be automated? We already have Jenkins integrated with our github repo, it would be easy to make it automatically `git hf feature finish` upon a merge happening. This would reduce these 2 workflow steps to one button press in the github pull request.

[2015-03-12 15:45] aehlke commented on #83
(I'd also suggest closing this ticket since it's not an actual issue, though it might be a documentation issue instead)

[2015-03-12 15:56] mheap commented on #83
You could definitely automate this with Jenkins. If that's the correct decision is down to your specific workflow. Personally I wouldn't, but I can see the advantages

[2015-03-12 16:03] aehlke commented on #83
What's the use case for clicking to merge a PR, but not immediately running `git hf feature finish`? What kind of work might you be doing between those 2 steps such that you wouldn't want to always immediately call that?

[2015-03-12 16:06] mheap commented on #83
Running `git hf feature finish` on Jenkins would leave the feature's developer with the branch open on their machine. It's a nice step to tell the feature owner "that's merged" so they know it's done, and they can then finish the feature

[2015-03-12 16:09] aehlke commented on #83
Ah! I see, thanks!

Looking more closely at the source, I'm more worried about leaving `git hf hotfix finish` un-automated in a similar way. Without automation for that, `develop` and `master` could drift.

[2015-03-12 16:10] mheap commented on #83
Again, you can do it if you feel it's the correct fit, but for us a developer being told their hotfix is merged is a trigger for them to schedule a release window with the operations team

[2015-03-12 16:12] aehlke commented on #83
That's a good point. Maybe it's just specifically the back-merging that should be automated, since drift between `develop` and `master` is dangerous.

[2015-04-10 20:36] aehlke opened #84 "`hf update` pushes to master and develop"
This was extremely surprising behavior for us: https://github.com/datasift/gitflow/blob/master/hubflow-common#L369-L387

The help string for `hf update` only mentions pulling changes from remote to local, so we did not expect a developer's local master to get pushed to origin. Although it was a mistake that originally led the developer to having changes in their master branch, it still should not

[2015-04-17 17:16] mbrace commented on #39
This has been working great for us.  There haven't been any additional changes needed for OS X support so I'm going to go ahead and close this out.

[2015-04-17 17:16] #39 closed

[2015-05-26 16:39] webmaven commented on #47
Any progress on this?

[2015-05-26 16:42] webmaven opened #85 "Is Hubflow being maintained?"
It seems maintenance stopped in November 2014, with no progress being made toward the 1.6.0 release since then. Is @stuartherbert still working on hubflow? is anyone else at @datasift?

[2015-05-28 13:48] stuartherbert commented on #47
No. I'm not likely to work on this any time soon, unless there's a lot of people out there who really need this functionality.

[2015-05-28 13:54] stuartherbert commented on #85
I am still working on hubflow. I'm no longer with DataSift.

Main thing holding up 1.6.0 is that it needs a credible test suite, and I haven't yet written one. The next Storyplayer release is due next week. After that, I can switch over to completing hubflow 1.6.0 if there's folks out there who need support branches.

[2015-05-29 21:37] webmaven commented on #85
I don't need the new features in the 1.6.0 branch,  but it would be nice if the bug fixes were backported and a 1.5.3 release made.

[2015-07-20 04:44] j-walker23 commented on #85
1.6.0 would be awesome as well!

[2015-07-27 20:39] pgporada opened #87 "`git hf feature submit` errors out if not using Github"
We're using Hubflow with Bitbucket being our DVCS. When trying to run the following command
[code]
we are returned
[code]

I believe this is due to the following lines.
https://github.com/mborsuk/hubflow/blob/develop/hubflow-common#L199-L206
https://github.com/mborsuk/hubflow/blob/develop/hubflow-common#L535-L541

[2015-07-28 07:43] stuartherbert commented on #87
Yeah. That's the only part of the Hubflow extension that actually knows about Github - it uses the Github API. I'm planning on removing this command unless there's a lot of users out there who rely on it.

[2015-07-28 07:44] stuartherbert commented on #85
I'm free this weekend to work on getting 1.6.0 out the door :)

[2015-07-28 07:50] stuartherbert commented on #84
`hf update` is meant to bring the local master and develop branches into sync with origin. The original thinking here was that Hubflow exists to implement a star topology on top of git, partly because I'm not confident that it is easy for someone to notice that local and origin are out of sync.

I'll take a look at how easy it would be to avoid pushing back up to origin.

[2015-07-28 15:06] pgporada commented on #87
Stuart,

My team of ~12 people are wanting to use the feature but with BitBucket instead of Github. Is it possible to have some sort of check to see if the origin is Github or BitBucket and have the feature submit act accordingly?

[2015-07-28 15:39] stuartherbert commented on #87
I'll take a look and see. Give me a little bit of time to investigate; I am not a BitBucket user.

[2015-07-28 19:39] webmaven commented on #85
Looking forward to it!

[2015-08-15 23:45] EslamElHusseiny commented on #87
@stuartherbert @pgporada  I've addressed bitbucket support for "git hf feature submit" command here https://github.com/datasift/gitflow/pull/88

[2015-08-21 01:13] bitwiseman commented on #87
@stuartherbert - my team uses the automatic pull request creation.  Can you make the check optional, so people can turn it off if they're not using github?

[2015-08-21 01:16] bitwiseman commented on #85
@stuartherbert - What can I do to help finish up 1.6.0?  You said you need a credible test suite?

[2015-08-21 01:17] bitwiseman commented on #81
@stuartherbert - Looks like this can be closed.

[2015-08-23 13:15] stuartherbert commented on #85
@bitwiseman - any sort of test suite would be a huge help - even a manual set of test scripts would be gratefully received. 1.6.0 and onwards will have refactoring as well as fixes - esp as I want to port this to Windows too - and the last thing I want is to break the tool accidentally.

The main constraint at the minute is time. I'm currently a freelance consultant, and so far I've been kept very

[2015-08-25 09:39] EslamElHusseiny commented on #87
@bitwiseman what kind of git servers you're using rather than github and bitbucket ?

[2015-08-30 01:24] j-walker23 commented on #85
@stuartherbert I forked this a while ago with the intentions of adding things that i personally cared about. Please know i am in no way a shell scripter. This was the first bash project i have ever looked at.

I did do my best to finish 1.6 on that fork by merging all open features into develop and fixing all errors i could find. Then i went on to do any personal additions i wanted.

Please feel f

[2015-08-30 17:30] webmaven commented on #85
@j-walker23 :+1:

[2015-08-31 15:36] stuartherbert commented on #85
@j-walker23 thanks. I'm taking a look this evening to see what you've done :)

[2015-09-17 10:21] ladyrassilon commented on #87
I have to say, creation of pull requests by command line are a really nice feature...

[2015-09-23 10:05] stuartherbert commented on #85
Just in case anyone is wondering ... work *is* progressing on the test suite for Hubflow, covering 1.5.2 as well as the upcoming 1.6.0 release. As soon as this is done, I'll feel much more confident about finally tagging 1.6.0 for release.

[2015-09-24 00:39] webmaven commented on #85
What does the test coverage % look like right now?

[2015-10-08 02:29] abhisekp opened #89 "How to install hubflow in Windows?"
# How to install hubflow in Windows?

### Clone latest hubflow
[code]

### Copy all git-hf prefixed files to `bin` directory in git installation directory
[code]

### Update latest `shflags` submodule
[code]

### Test hubflow
[code]

- Neither Hubflow or Gitflow workflow support fork and PR workflow for Open Source projects. You'll have to manually do that. Just follow the nvie's gitflow workflow

[2015-10-08 02:30] abhisekp commented on #47
@stuartherbert I need this functionality. :smiling_imp:

[2015-10-08 05:22] stuartherbert commented on #89
Hubflow is currently written as UNIX shell scripts. If you install Cygwin, that might allow Hubflow to work on Windows for now.

[2015-10-08 06:27] abhisekp commented on #89
@stuartherbert This issue is simply like an instructional wiki about installing hubflow in Windows.
I use git bash on Windows and this technique just works seamlessly. :smile:

[2015-10-08 15:27] webmaven commented on #47
I could use this functionality as well.

[2015-10-08 15:33] stuartherbert commented on #47
I'll see what I can do to get this into v1.7.

[2015-10-08 15:45] webmaven commented on #47
Cool, thanks! :+1:

[2015-10-09 10:48] abhisekp commented on #89
@stuartherbert Can I use both **git-extras** and **hub**?

[2015-10-09 10:50] stuartherbert commented on #89
I’m not familiar with git-extras. Hubflow doesn’t do anything weird, so it should play nicely with other extensions. If you run into any issues, please open a new issue here on GitHub and I’ll take a look.

[2015-10-30 21:13] #81 closed

[2015-10-30 21:13] #66 closed

[2015-12-07 01:38] cantonic commented on #84
this caused some headaches in our company...

[2015-12-07 19:46] aehlke commented on #84
@cantonic We'd like to pick up gitflow again and this is one of the blockers. But one thing that might help you in the meantime would be to enable branch protection on master in GitHub.

[2015-12-11 00:46] justmatt opened #90 "Release tag applied to checked-out branch"
__Background steps__
- On Github, merge pull request for `[release-name]` into `master`
- On local, checkout `[feature-branch]`
- `git release finish [release-name]`

__What happened that I didn't like__
Code from `[feature-branch]` was automatically merged into `master` (I think)

__Possible cause__
Was `git tag` somehow applied to `[feature-branch]` instead of `master`?

[2016-01-08 20:15] DarinMacRae commented on #89
You might be interested in this.

https://github.com/DarinMacRae/gitflow/commit/f086d9a27c7438f03f0a06e2a710b1ada2bf8486

[2016-02-12 14:11] mcast opened #91 "Negalist of commitids, to make rewind safe"
Working in a small team of developers using `git hf`, I concluded that we needed to rewind (`git push -f origin`) the master branch to fix a mistake.

Later I discovered that hubflow will merge the old (unwanted) commit with no warning and very little indication of what happened, if not every developer gets the "rewind your local checkout!" email in time.  This resulted in the need to `git revert`

[2016-02-13 18:55] mcast commented on #91
On second thoughts, this could and probably should be a separate little tool.  Maybe I will add it to [mcast/git-yacontrib](https://github.com/mcast/git-yacontrib).
It could then be invoked from pre-commit / pre-push / pre-receive / (?)post-rewrite hooks to protect any clone.  Or chained in after `git fetch` on the `git-hf` operations, if it should happen earlier.

Sorry for the noise, m

[2016-02-13 18:55] #91 closed

[2016-02-22 18:21] xavs opened #92 "Better Pull Requests"
Hi there, I was wondering if this the gitflow process / PR review could be improved like this:

A feature branch makes changes to X files. PR submitted.
develop branch has N new commits that affect 1 out of those X files in the PR, so a merge conflict shows in the PR.

It'd be really cool if there was** an easy command that would merge only conflicting files from "develop"**, so the PR still looks

[2016-02-26 14:23] mcast opened #93 "Doesn't detect `develop` branch rename"
The basic problem is that poor choices of the develop branch name are hard to fix.

* History: We started out calling the branch to which features are merged `dev` instead of `develop`.
* The immediate problem: `git hf init` fails to recognise `dev` as the develop branch.  Instead it chooses `master` and then breaks because develop and release are the same (fair enough), and leaves a partial confi

[2016-03-21 17:36] tommynsong commented on #87
+1 for optional
we are using Github Enterprise

[2017-01-30 19:15] wweaver commented on #85
I assume 1.6.0 never happened? Or is this happening in a different fork now since you said you don't work at datasift any longer?

[2017-01-30 19:19] wweaver opened #94 "Git pathspec issue"
When running `git hf update` I get a warning about git no longer supporting relative pathspecs. I keep up to date with the latest version of git via homebrew so I assume when git decides to remove the ability hubflow will stop working.

[code]

I haven't taken the time to look to see if this is a simple fix or not, but wanted to report it as a bug at least.

[2017-02-07 18:03] ladyrassilon commented on #15
Its an incomplete set of completions (will get round to fixing it at some point) but it covers the git flow completions https://github.com/ladyrassilon/git-hubflow-completion

[2017-02-07 18:49] ladyrassilon opened #95 "git hf feature rebase should require develop to be up to date"
When you do a rebase, it should ensure that develop, is up to date with origin.

[2017-02-24 04:11] webmaven commented on #85
@stuartherbert, what is the status of HubFlow?

[2017-02-24 11:02] stuartherbert commented on #85
At the moment, progress on Hubflow 1.6.0 has stalled.

From the initial testing I've done, Hubflow 1.6.0 has introduced some annoying new bugs. I'm tempted to say that it'd probably be best to go back to the last tagged release and start again on working towards Hubflow 1.6.0.

The last tagged Hubflow 1.5.x release continues to work well for my customers, in the mean time.

[2017-02-28 16:36] webmaven commented on #85
@stuartherbert, that's disappointing of course, but hope lives on. :wink:

Is the test-suite (for 1.5.2 as well as 1.6.0) closer to completion than the 1.6.0 branch itself? What % of the code covered?

[2017-02-28 16:42] stuartherbert commented on #85
@webmaven I want to get back to it. Maybe I should start a crowdfund campaign of some kind? Or maybe there's a firm or two out there willing to sponsor some of the work?

I don't have code coverage metrics. Not even sure how you'd generate those for testing bash scripts. The test suite didn't get very far before it showed up the problems with the 1.6.0 branch.

My preferred way forward is to have

[2017-11-20 16:29] jeffreyscottgraham opened #96 "Is the project dead?"
Dead or Alive is it?

[2017-11-20 16:33] stuartherbert commented on #96
It's still alive. I haven't moved it forward because the latest tagged release has been doing everything I've needed.

Anything in particular prompting the question?

[2017-11-20 19:49] jeffreyscottgraham commented on #96
The current concern is about this warning when when running "git hf update":     "warning: empty strings as pathspecs will be made invalid in upcoming releases. please use . instead if you meant to match all path"-----Original Message-----
From: Stuart Herbert
Sent: Nov 20, 2017 8:34 AM
To: datasift/gitflow
Cc: Jeffrey Graham , Author
Subject: Re: [datasift/gitflow] Is the project dead? (#96)

It'

[2018-01-31 15:18] thewalkingtoast commented on #96
This affects me as well. `git 2.16+` doesn't work due to pathspec

[2018-01-31 16:00] stuartherbert commented on #96
I'll see if I can get a fix for that out tonight.

[2018-01-31 20:31] stuartherbert commented on #96
I've created a new branch `hotfix/1.5.3`. It contains a fix for the empty pathspec problem.

Could you test this please, and let me know if that solves the problem for you? Thanks in advance.

[2018-01-31 20:43] stuartherbert opened #97 "Future of this project - tell me what you think!"
Hi everyone,

First of all - I didn't realise that so many people use this project. I currently don't have any way of finding that out until issues are posted! It feels like I need to fix that. How would be best? A mailing list? IRC? Something else? Please let me know you'd like to see this done.

Some of you may not be aware that I left DataSift several years ago, and now run my own little compan

[2018-02-01 01:49] thewalkingtoast commented on #96
It works great. Thank you very much for being quick and responsive. :) 👍

[2018-02-01 07:40] stuartherbert commented on #96
Thank you for testing it so quickly. I'll get a tagged release out shortly.

[2018-02-01 15:11] ladyrassilon commented on #96
@stuartherbert also tested and it fixed the problem I was having.

[code]

Thanks for fixing this :)

[2018-02-01 17:33] jeffreyscottgraham commented on #97
Stuart,I suggest using github for everything: source, issues, branches, everything. Anyone can git a github account and 'follow' the project if they want to receive updates or help with patches.Congrats going independent!-----Original Message-----
From: Stuart Herbert
Sent: Jan 31, 2018 12:43 PM
To: datasift/gitflow
Cc: Subscribed
Subject: [datasift/gitflow] Future of this project - tell me what y

[2018-02-01 20:33] stuartherbert commented on #96
v1.5.3 has now been tagged and released.

Thank you everyone for reporting this, and making sure I got it done.

[2018-02-01 20:33] #96 closed

[2018-02-01 20:34] stuartherbert commented on #94
Thank you for that report. It's been fixed in v1.5.3.

I'd done a stupid thing with a stack operation inside `hubflow-common`.

[2018-02-01 20:34] #94 closed

[2018-02-01 20:44] wweaver commented on #94
Thanks. That seems to have fixed it. 👍

[2018-02-01 20:47] thewalkingtoast commented on #96
Submitted to homebrew: https://github.com/Homebrew/homebrew-core/pull/23574

[2018-02-01 20:49] thewalkingtoast commented on #97
I think you can ask Homebrew for analytics on installed count. I use hubflow from there and when I onboard new devs at my company, I always install it from there as well. The "model" is still good; some fixes and updates for recent git versions would be a good first step after the GH org.

[2018-02-02 18:06] madorb commented on #97
I've been using this for many years now and make sure everyone i work with knows about it as well... it's definitely got users out there! I totally agree with @jeffreyscottgraham that using github for everything would be ideal!

[2018-03-13 14:45] XaserAcheron commented on #89
Just as a heads-up, HubFlow does seem to work fine on Windows after following the install steps in the OP. I'm not exactly a power user (just inherited a project that already used it), but I haven't run into any OS-specific shenanigans.

Just did an update earlier and wish I'd have seen DarinMacRae's post though; I haven't tried that install script yet but perhaps that will do the trick.

[2018-04-16 08:18] teddy-hoo opened #98 "why not update code before finish action?"
I begin a release using```git hf release start 2.4```
and someone else in my team merged his change to release/2.4 using github pull request.
I finish this release on local without executing a ```git hf update```

Finally, my teammates' change is lost!

It is harmful!

[2018-04-16 10:59] stuartherbert commented on #98
I'm not sure how that could have happened.

[According to the code](https://github.com/datasift/gitflow/blob/master/git-hf-release#L232) Hubflow does a pull from origin at the start of a `git hf release finish` command. It then immediately pushes local back up to origin.

If anyone has a way to reproduce this problem, I'll happily dig into it further.

[2018-04-17 06:40] teddy-hoo commented on #98
Hi, I can reproduce it stably.
[code]

[code]

[code]
with above operations, i can not get commit 'test gitflow' on instance 1.

and i see code [here](https://github.com/datasift/gitflow/blob/master/hubflow-common#L373), it just fetch but no merge, and then merge using local branch (code here)[https://github.com/datasift/gitflow/blob/master/git-hf-hotfix#L316].

[2019-04-12 23:18] heymartinadams opened #102 "Can we not use VIM?"
Great work with HF... only now beginning to discover it.

Is there any chance HF can skip the vim part on `git hf release finish`? I’ve no idea how to use vim — something I just never got into.

[2019-04-16 05:24] westurner opened #103 "ENH: Copy release merge commit message to git tag message"
(Maybe an option to) by default,
copy the release merge commit message to the git tag message.
so that GitHub Releases have the relevant commit message [first lines?]

To publish a tag as a GitHub Release:
- View the releases: https://github.com/datasift/gitflow/releases
- Click the release tag
- Click 'Edit Tag' (e.g. https://github.com/datasift/gitflow/releases/new?tag=0.1.0 )
- Click 'Publish R

[2019-04-16 05:27] westurner opened #104 "ENH: --verbose adds `set -x` / `set -x -v`"
`-v|--verbose` to `set -x` or `set -x -v` would be super helpful for understanding what's going on
because it's too magic.

[2019-04-16 05:30] westurner opened #105 "ENH: set versiontag=v by default?"
I always set `hubflow.prefix.versiontag v` by default so that release versions are all tagged like `v0.1.0`.

I'll append the script I wrote in a subsequent commit.

Is there a better way to do this? e.g. to specify a global versiontag default for `git-hf init``

Why do I think that I don't want to set a global default in my ~/.gitconfig even if that would actually work?

[2019-04-16 05:33] westurner commented on #105
From https://github.com/westurner/dotfiles/blob/develop/scripts/git-flow-versiontag.sh :

[code]

[2019-09-07 23:45] horatioliii opened #106 "Failed to load image"
![Screen Shot 2019-09-07 at 6 43 45 PM](https://user-images.githubusercontent.com/12454805/64481317-7ab1f900-d19f-11e9-9faf-4c36f1c3f95a.png)
Got 404 when loading image from `IntroducingGitFlow` and `navbar`.

[2019-11-05 22:01] ilyakam opened #107 "git hf release cancel -f x.y.z does not delete local branch with changes"
`git hf release cancel -f ...` does not delete the local release branch. Presumably that's because the local branch is unmerged, and the command to delete it uses the lowercase `-d` as opposed to the uppercase `-D` on the following two lines:

https://github.com/datasift/gitflow/blob/master/git-hf-release#L311
https://github.com/datasift/gitflow/blob/master/git-hf-release#L420

If my hunch is corr

[2019-11-27 15:11] lazzurs commented on #67
Closing as this has been a very long time...

[2019-11-27 15:11] #67 closed

[2020-06-25 14:10] EugenMayer opened #108 "Is a hotfix merged back to develop?"
Reading https://datasift.github.io/gitflow/GitFlowForGitHub.html under **9. Creating Hotfixes** i cannot find the information, if finishing a hotfix does actually merge back into master ( described ) but also in develop ( which is part of the usual gitflow and critical to the semantic of hotfix )

Could you clarify on that? Thank you

[2020-06-25 14:19] EugenMayer opened #109 "Question: Any spin-offs / reconsideration to work on master only ( no develop branch )"
in our teams, we less and less instrumentalize the develop branch but rather stick to master only.

The reason for that is formally, since there is no need for the master branch in gitflow - it is a pure synthetic branch which nobody does any work on or uses it.

- you never check it out to trace anything. You either are on `develop` or you checkout a specific `tag` you want to verify something ag

[2020-06-26 09:16] stuartherbert commented on #109
Hi Eugen,

I think there's two questions here: the purpose of the master branch in Gitflow, and support for the alternative branching model that you're describing.

The `master` branch in Gitflow serves an important purpose: it's the only branch that contains only released code. If you need to make a hotfix for a production issue, it not only gives you somewhere to cleanly branch from, but also so

[2020-06-26 09:41] stuartherbert commented on #108
Hi Eugen,

Yes, the code attempts to merge a completed hotfix back into the `develop` branch too.

Best regards,
Stu

[2020-06-26 09:41] #108 closed

[2020-06-28 16:33] EugenMayer commented on #109
Thank you for the elaborated answer and the insight!

Well, if you need to provide hotfixes for a release, IMHO should have done a `release/VERSION` anyway - and that is where those hotfixes are based on (anyway). It is anyway better to ask the question "hotfix for which release?"

While we really value that production support being easy, the `develop` branch has not helped specificly. A `master`

[2020-07-24 08:02] EugenMayer commented on #109
If you like, close the issue anytime - thank you for sharing you POV and insight, was very helpful

[2020-08-12 20:06] mohnishkodnani commented on #83
I still get this even when the PR is merged. the only difference is , the reviewer approved it, I then use "Squash Merge" button to merge the PR.

Go to my local machine and try git hf feature finish <zyx> , it still says open a PR first and get it merged.

[2020-08-26 15:01] #109 closed

[2020-09-16 14:56] nikoskip commented on #83
Having the same issue here with "Squash and Merge" option from GitHub.

[2021-03-02 16:27] matanmarciano opened #111 "How can I create release branch based on support branch?"
Hi, can I create a release branch based on the support branch?
The goal is to support older version on master

[2021-07-01 05:45] xJom opened #112 "Please update link in README-section"
It points to old datasift.github.com, and should be replaced by the new datasift.github.io.

[2021-10-25 10:57] #75 closed, assigned to nobody

[2022-04-06 08:49] jean-cedric-therond-koji opened #114 "unauthenticated git protocol on port 9418 for shFlags"
Because the 11th january 2022 Github said:

So, You have to change the submodule origin, while users can perform the next command to avoid getting this error:
[code]

[2022-04-06 09:01] stuartherbert commented on #114
Thanks for the heads' up. I'll sort out a fix in the next couple of days.

[2022-04-25 15:47] mikebronner opened #115 "Error when creating new feature."
I'm getting an error when trying to create a new feature. I am able to communication via vanilla GIT without any issues, so it would seem not to be something in my setup. Any suggestions on how to get around this?

[code]

[2022-04-27 13:49] mikebronner commented on #114
@jean-cedric-therond-koji Do you have any recommendations on making this setting more specific to, as it breaks communication for other apps that communicate with git. Is there any way to make this setting specific to HubFlow as a work-around until HubFlow is fixed?

[2022-04-28 22:13] ragnarok22 commented on #114
Is this project deprecated? I saw the last commit was in 2018

[2022-04-29 06:49] stuartherbert commented on #114
I've just released gitflow v1.5.4, which should fix this issue. Let me know if you still have any problems.

[2022-04-29 16:58] mikebronner commented on #114
@stuartherbert Thanks for this, small item of feedback after upgrading (and verified that your change is in place):

[code]

I'm still testing if everything else works without all the work-arounds. Thanks! :)